aiohttp
dashscope>=1.11.0
eval_type_backport
ipykernel
json5
jsonlines
jsonschema
jupyter_client
matplotlib
numpy
openai
openpyxl
pandas
Pillow
pydantic>=2.3.0
python-dotenv
pyyaml
regex
requests
seaborn
sympy
tiktoken
