aiohttp
beautifulsoup4
dashscope>=1.11.0
eval_type_backport
ipykernel
json5
jsonlines
jsonschema
jupyter_client
matplotlib
numpy
openai
openpyxl
pandas
pathspec
Pillow
pydantic>=2.3.0
pytest
python-dotenv
pyyaml
regex
requests
seaborn
soundfile
sympy
tiktoken
tqdm
